$blu:#375D81;
$blu2: #183152;
$grigio:#909399;
$grigio2: #c7c3c2;
$grigiochiaro: #f1f1f1;
$grigioscuro: #696969;
$bianco: white;

.text-right {
    text-align: right !important;
}

.pagine_fondi {
    font-family: 'Open Sans';

    h1 {
        text-transform: none;
        letter-spacing: 0;
    }

    p {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px;
        text-align: left;
        color: $grigioscuro;

        a {
            color: $blu;
        }
    }

    .background_pattern_result {
        background-image: url('../img/background-visual-header.jpg');
        background-position: center center;
        background-size: cover;
        padding-bottom: 12px;
        padding-top: 5px;

        h1 {
            font-family: 'Open Sans';
            font-size: 16px;
            line-height: 23px;
            font-weight: 600;
            margin-top: 0px;
            margin-bottom: 0px;
            color: $bianco;
        }

        ul.breadcrumb-list.bread-white {
            li {
                a {
                    color: $bianco;
                }
            }
        }

        .breadcrumb-list {
            li {
                a {
                    font-family: 'Open Sans';
                    font-size: 11px;
                }
            }
        }
    }

    p.search_box {
        color: $blu;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    .input_shadow {
        border-radius: 24px;
        border: 1px solid transparent;
        background-color: $bianco;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, .25);
    }

    input[type="text"] {
        border: 0;
        border-radius: 24px;
        display: block;
        font-size: 13px;
        font-weight: 400;
        padding: 5px 10px;
        text-align: center;
        width: 100%;
    }

    .btn_isin_cerca {
        color: $bianco;
        cursor: pointer;
        background-color: $grigio;
        border-radius: 24px;
        font-size: 15px;
        font-weight: 600;
        display: block;
        max-width: 100px;
        padding: 5px 13px;
        width: 100%;
    }

    b.note_title {
        color: $blu;
        font-size: 18px;
        font-weight: 600;
        display: block;
    }

    .display_before {
        color: $blu;
        font-size: 14px;
    }

    .analysis_logo img {
        width: 90px;
        vertical-align: -6px;
    }

    #display_switch {
        color: $blu;
        cursor: pointer;
        font-weight: 600;
    }

    .table_fonds_mc {
        width: 100%;

        .nobg {
            background-color: $bianco;

            &.rendimenti_txt {
                background-color: #fff;
                color: #375D81;

            }
        }

        thead {
            tr {
                td {
                    background-color: #3071a9;
                    color: #fff;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 13px;
                    padding: 5px;
                    // text-align: center;
                    text-transform: none;
                    vertical-align: middle;

                    &.rendimenti_txt {
                        text-align: center;
                        width: 80px
                    }

                    &.link_scheda {
                        width: 140px;
                    }

                    .sortable_img {
                        max-width: 12px;
                        vertical-align: -2;
                    }
                }
            }
        }

        tbody {
            tr {
                &.singolo_fondo {
                    td {
                        border-bottom: 1px solid $grigiochiaro;
                        font-size: 12px;
                        height: 40px;
                        line-height: 13px;
                        padding: 5px;
                        vertical-align: middle;

                        span {
                            display: block;
                            font-size: 10px;
                        }

                        a {
                            color: $blu;
                            font-weight: 600;
                        }

                        &.number_ref {
                            width: 38px;
                            color: #375D81;
                        }

                        &.nome_fondo {
                            min-width: 255px;

                            span {
                                &.categoria {
                                    color: $blu2;
                                    font-style: italic;
                                }
                            }
                        }

                        &.btn_add_portfolio {
                            padding-left: 0px;
                            padding-right: 0px;
                            vertical-align: middle;
                            width: 40px;

                            span {
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                cursor: pointer;
                                height: 20px;
                                margin: 0 auto;
                                width: 20px;

                                &.to_add {
                                    background-image: url('https://www.moneycontroller.it/calcolatore/img/icona_add_.png');
                                }
                            }
                        }

                        &.rendimento {
                            width: 90px;

                            span {
                                &.posinchart {
                                    color: $blu;
                                    font-weight: 600;
                                    margin-top: 2px;
                                }
                            }
                        }

                        &.order {
                            background-color: #D2D7DB;
                        }

                        &.scheda {
                            min-width: 100px;
                        }
                    }

                    &:nth-child(2n+1) {
                        background-color: $grigiochiaro;
                    }

                    &:nth-child(2n) {
                        background-color: $grigio2;
                    }
                }
            }
        }

    }

    .paginated {
        ul {
            float: right;
            li {
                border: 1px solid #e3e3e3;
                border-radius: 20px;
                display: inline-block;                
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                margin: 0 2px 5px 5px;
                text-align: center;
                width: 29px;

                &.active {
                    background-color: $blu;
                    color: $bianco;
                    line-height: 22px;
                }

                a {
                    color: $blu;
                    line-height: 22px;
                    width: auto;
                }
            }
        }
    }
}